body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Serif SC', serif;
  background-color: rgb(246, 246, 246);
}

h2,
p {
  margin-top: 0;
}

p {
  line-height: 1.5;
  margin-bottom: 12px;
}

a {
  border-bottom: 1.5px solid #666;
}

.border--none {
  border: none;
}

.text-decoration--none {
  text-decoration: none;
}

.container {
  max-width: 520px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}
