# ignore node_modules
node_modules/

# ignore asp.net bin and obj dir
bin/
obj/
packages/
.vs/
.idea/
tmp*
*.rar
*.user
*.exe
*.vrb

*.pdb

*.o
*.out
*.swp
*.swap

.vscode/
vendor/

BenchmarkDotNet.Artifacts/