body {
    margin: 0;
    padding: 0;
}

body p {
    background-color: #ddd;
    text-align: center;
    color: #444; 
    padding: 15px;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}